body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: grey;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 10px;
}

.counter-text {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.add-button {
    background-color: goldenrod;
    color: green;
}

.subtract-button {
    background-color: red;
    color:white;
}

